.notification {
    padding: 10px 20px;
    background-color: rgb(244, 244, 244);
    color: black !important;
}

.notification-readed {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}

.notification:hover {
    background-color: rgb(233, 233, 233);
    color: black !important;
}

.notification-readed:hover {
    background-color: rgb(244, 244, 244) !important;
}

#notification-box {
    z-index: 1000;
    height: 400px;
    overflow-y: scroll;
}

.count-notifikasi-pelapor {
    background-color: red;
    border-radius: 100%;
    padding: 1px 9px;
    margin-left: -3px;
    color: white;
}

.border-error {
    border: 1.3px solid red;
}

.styled-bg {
    background-image: url("../img/shapes/map-50.png");
    background-color: rgba(255, 255, 255, 0.1);
}
.rounded-pill {
    border-radius: 50rem !important;
}
.border-end {
    border-right: 1px solid #dee2e6 !important;
}
.flex-column {
    flex-direction: column !important;
}
.d-sm-flex {
    display: flex !important;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}
